# Operating System Files
*.DS_Store
Thumbs.db

# Build Files
bin
target
build/
.gradle

# Eclipse Project Files
.classpath
.project
.settings

# STS Project Files
.springBeans
.apt_generated
.factorypath


# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea

# NetBeans Project Files #
nbactions.xml
nb-configuration.xml
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# PMD
.pmd

# Frontend sources
node_modules
tmp
dist
out-tsc
e2e/*.js
e2e/*.map
npm-debug.log
typings
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
testem.log

# Frontend compiled output
/src/main/resources/static
